<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu', { user: user }) %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

              <h5 class="card-title"><%= advert.shortText %></h5>

              <% if(advert.images && advert.images.length) { %>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner">
                        <% advert.images.map((el, idx) => {  %>
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="<%= el %>" alt="First slide">
                            </div>
                        <% }) %>
                    </div>
        
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущая</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующая</span>
                    </a>
                </div>
              <% } %>

              <table class="table">
                  <tbody>
                    <tr>
                      <td>Описание</td>
                      <td><%= advert.description %></td>
                    </tr>
                    <tr>
                      <td>Изображения</td>
                      <td><%= advert.imagesUrlRow %></td>
                    </tr>                     
                    <tr>
                      <td>Автор</td>
                      <td><%= advert.authorName %></td>
                    </tr>
                    <tr>
                      <td>Объявление создано</td>
                      <td><%= advert.createdAt %></td>
                    </tr>
                    <tr>
                      <td>Объявление изменено</td>
                      <td><%= advert.updatedAt %></td>
                    </tr>
                    <tr>
                      <td>Теги</td>
                      <td><%= advert.tags %></td>
                    </tr>                    
                    <tr>
                      <td>
                          <input type="checkbox"
                                name="isDeleted"
                                id="inputisDeleted"
                                <%= advert.isDeleted ? "checked" : "unchecked" %>
                                disabled>
                          <label for="inputisDeleted">Скрыть объявление</label>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Количество просмотров</td>
                      <td><%= view_advert_count %></td>
                    </tr>                     
                  </tbody>
              </table>

              <div class="text-right">
                  <a class="btn btn-sm btn-primary" href="/api/adverts/update/<%= advert.id %>">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <form action="/api/adverts/delete/<%= advert.id %>" method="POST" class="d-inline">
                      <button class="btn btn-sm btn-danger">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                  </form>
              </div>

            </div>
        </div>
    </div>
</div>

<% if (user || notes.length > 0) { %>
  <br />

  <div class="row d-flex justify-content-left">
    <div class="col-md-8 col-lg-8">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">

              <% if (user) { %>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="text" class="form-control" placeholder="Напишите комментарий..." />
                    <button type="submit" for="text" id="send-book-discussants" class="btn btn-primary">Отправить комментарий</button>
                </div>
              <% } %>

              <div id="list" class="list-group">
                <% notes.map((el, idx) => {  %>
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><%= el.text %></p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <p class="small mb-0 ms-2"><%= el.name %></p>
                        </div>       
                        <div class="d-flex flex-row align-items-center">
                          <p class="small text-muted mb-0"><%= el.date %></p>
                        </div>                                         
                      </div>
                    </div>
                  </div>	
                <% }) %>
              </div>

            </div>
        </div>
    </div>
  </div>

<% } %>

<%- include('../port/layout-end-with-socket', { user: user }) %>