<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu', { user: user }) %>

<form action="/api/signup" method="post">  
    <div>
        <label>Электронный адрес</label>
        <input type="email" name="email" value="<%= user_prefill.email %>"/>
    </div> 
    <div>
        <label>Пароль</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Подтвердить пароль</label>
        <input type="password" name="password_rep" />
    </div>    
    <div>
        <label>Имя пользователя</label>
        <input type="text" name="name" value="<%= user_prefill.name %>"/>
    </div>    
    <div>
        <label>Контактный телефон</label>
        <input type="text" name="contactPhone" value="<%= user_prefill.contactPhone %>"/>
    </div> 

    <div>
        <input type="submit" value="Создать пользователя" />
    </div>
</form>

<%- include('../port/layout-end') %>